extends layout

block content
  h1 Welcome to Cook Next Door
  p Order home-cooked South Indian food from your neighbors or sell your dishes!

  .options
    .option
      a(href='/order')
        h2 Order Food
        p Browse and order delicious home-cooked meals.
    .option
      a(href='/sell')
        h2 Sell Food
        p List your home-cooked dishes for sale.
